<h2 class="page-header">Register</h2>
<form (submit)="onRegisterSubmit()">
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" name="name" [(ngModel)]="name">
  </div>
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" name="username" [(ngModel)]="username">
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="text" class="form-control" name="email" [(ngModel)]="email">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" name="password" [(ngModel)]="password">
  </div>
  <input type="submit" class="btn btn-primary" value="Register">
</form>