<app-navbar></app-navbar>
<div class="container">

  <!-- Displays any flash messages above page content -->
  <flash-messages></flash-messages>

  <!-- Displays whatever component has been routed to -->
  <router-outlet></router-outlet>

</div>
