<div class="jumbotron text-center">

  <h1>MEAN Template Application</h1>
  <p class="lead">Welcome to our custom MEAN Template Application.</p>

  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
    <a class="btn btn-default" [routerLink]="['/login']">Login</a>
  </div>

</div>


<div class="row text-center panel panel-default">
  <div class="panel-body">
    <div class="col-md-4">
      <h3>Authentication</h3>
      <p>Authentication, Session Management, and Protected Routes are all built in using JWT Strategies.</p>
    </div>
    <div class="col-md-4">
      <h3>Configured Backend</h3>
      <p>A backend is already set up and configured using Node, MongoDB, and Express. An API that includes authentication and other sample operations has been included. You can use this as a template for any functionality you want to add.</p>
    </div>
    <div class="col-md-4">
      <h3>Angular 4.0</h3>
      <p>Angular 4.0 and some of its best features have been included in this template and are demonstrated on the various pages that come with the template by default. Use these components and services as examples for any new features you add.</p>
    </div>
  </div>
</div>