td .btn{
    display: table;
    margin: 0 auto;
    width: 90%;
}

td input{
    padding: 10px 5px;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: none;
    transition: background-color 0.3s;
}

td input:focus{
    border: default;
    box-shadow: default;
    background-color: white !important;
}

td input:hover{
    background-color: lightgrey;
}