<div class="panel panel-default">
  <div class="panel-heading">Contact List</div>
  <div class="panel-body">

    <!-- Add Contact Form -->
    <form (submit)="addContact()">
      <div class="form-group">
        <label>Name:</label>
        <input type="text" name="name" class="form-control" [(ngModel)]="formName">
      </div>
      <div class="form-group">
        <label>Email:</label>
        <input type="text" name="email" class="form-control" [(ngModel)]="formEmail">
      </div>
      <input type="submit" class="btn btn-primary" value="Add to Contacts">
    </form>
    <hr>

    <!-- Contact List -->
    <table class="table table-condensed">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th></th>
      <tr>
      <tr *ngFor="let contact of contacts; let i=index">
        <td><input [(ngModel)]="contact.name" (blur)="updateContact(contact._id, i)" (keyup.enter)="onEnter($event)"/></td>
        <td><input [(ngModel)]="contact.email" (blur)="updateContact(contact._id, i)" (keyup.enter)="onEnter($event)"/></td>
        <td><button (click)="deleteContact(contact._id, i)" class="btn btn-danger">Delete</button></td>
      </tr>
    </table>

  </div>
</div>